/*
 * Copyright (C) 2019 Daniél Kerkmann
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

body {
    background-image: url("../pictures/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

main {
    padding-bottom: 50px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(190, 195, 205, 0.5);
}

.divheader {
    height: 107px;
    text-align: center;
}

.footer {
    padding-left: 0;
    padding-right: 0;
}

.button {
    margin: 5px 10px;
}

.lobbys {
    margin: 30px auto 30px;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
}

.player {
    margin: 30px auto 30px;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
}

.playerlist {
    margin: 100px auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.lobbylist {
    margin: 20px auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

p {
    margin-bottom: 0;
}

.modal-header {
    background-color: #ffc107;
}

.modal-content {
    overflow: hidden;
}

.right {
    float: right;
}

.invisible {
    visibility: hidden;
}

.line-horizontal {
    margin: 2px;
    display: inline-block;
    width: 100%;
    height: 12px;
}

.line-vertical {
    margin: 2px;
    display: inline-block;
    width: 12px;
    height: 100%;
}

.gamebox {
    width: 500px;
    height: 500px;
    background: #e8f6ff;
    border: 3px solid #007bff;
}

.gamerow {
    height: 20%;
    align-items: center;
    text-align: center;
}

.paddingzero {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.paddingzero:has(.rewardcircle) {
    display: inline-flex;
    align-items: center;
}

.lines {
    cursor: pointer;
    background-color: #C4C4C4;
}

@media (max-width: 960px) {
    #playerlist {
        margin: 0;
    }

    .divheader {
        height: 50px;
    }

    .divheader img {
        width: 300px;
    }
}

@media (max-width: 540px) {
    .gamebox {
        width: 300px;
        height: 300px;
    }
}